
 @font-face
   font-family RickAndMorty 
   src url('./../assets/fonts/rick-and-morty.ttf')

 @font-face
   font-family RickAndMortyTitle 
   src url('./../assets/fonts/rick-and-morty-title.ttf')

body 
  font-family RickAndMorty

h3 
  font-family: RickAndMortyTitle
  color: #69c8ec